<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Memory club</title>
</head>

<body>
    <%- include("partials/header.ejs", {user}) %>

    <% if (user) {%>  
        <main class="showSec">
            <h2 class="logo">WELCOME BACK <span class="username"> <%= currentUser.username %></span> </h2>
            <div style="text-align: center;"><a href="/new-memory" class="createBut">Create Post</a></div> 
            <% posts.forEach(post=> { %>
                <%- include('partials/post.ejs', { post: post }) %>
                    <% }); %>
        
        </main>
        

        <% } else { %>
            <main class="showSec">
                <% posts.forEach(post=> { %>
                    <%- include('partials/post.ejs', { post: post }) %>
                        <% }); %>
            </main>
            <% } %>
    
    <%- include("partials/footer.ejs") %>
</body>

</html>